.header {
    width: 100%;
    height: 50px;
    position: static;
    border-bottom: 2px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.headerLogo {
    margin: 3px;
    height: 40px;
    position: absolute;
}

.headerLogoContainer {
    margin: 4px;
    position: absolute;
}