.sidebar {
    /* background-color: aliceblue; */
    position: fixed;
    height: 100%;
    width: auto;
    overflow: auto;
    border-right: 2px solid #000;
    min-width: 300px;
    margin-top: 50px;
}

.phLabel {
    width: 300px;
    height: 100px;
    border-width: 1px;
    /* border-color: black; */
    border-style: solid;
    border-radius: 10px;
    margin: 5px;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.phText {
    margin: 2px;
    cursor: pointer;
}

.phSec {
    display: flex;
}

.phVr {
    border-right: 2px solid #000;
    padding-right: 5px;
    cursor: pointer;
}

.phHeader {
    color: #FFF;
}